* {margin: 0; padding: 0;}
body {
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    min-width: 1024px;
    height: 100%;
    background: url('../images/bg.jpg') repeat;
}
a {text-decoration: none; color: red;}
img {border: none;}
#container {
    width: 100%;
}
#w_footer {
    background: #131313;
    border-top: 5px solid #242424;
}
#footer {
    min-height: 150px;
}
#copy_right {
    padding: 10px 20px;
    font-size: 12px;
    background:#000;
    text-align: center;
}
.sizePage {
    width: 1024px;
    margin: 0 auto;
}
#w_top {
    background: #222;
}
#w_slideshow {
    min-height: 300px;
    z-index: 9;
    background: url('../images/image1.jpg') no-repeat;
}
#w_bar {
    background: url('../images/bg3.jpg') repeat-x;    
    margin-bottom: 10px;
    border-bottom: 2px solid #222;
    border-top: 5px solid #333;
    padding-bottom: 10px;
}
#bar {
     min-height: 20px;
}
#main {
    min-height: 300px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear {
    clear: both;
}
#header {
    height: 92px;
    z-index: 10;
}
#w_header {
    background: url('../images/bg_menu.png') top left repeat-x;
    border-top: 1px solid #333;    
}
#menu ul {
    
}
#menu ul li {
    float: left;
    list-style: none;
    padding: 27px 15px 25px 15px;
    background: url('../images/menu-divider.png') no-repeat top right transparent;
}
#menu ul li:first-child {
    background-image: url(../images/menu-divider.png), url(../images/menu-divider.png);
    background-position: top left, top right;
    background-repeat: no-repeat;
}
#menu ul li a {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Open Sans','Cuprum', sans-serif;
    text-transform: uppercase;
}
#menu ul li.active {
    background: url('../images/menu-act.png') repeat-x;
    background-image: url(../images/menu-divider.png);
    background-position: top right;
    background-repeat: no-repeat;
}
#menu ul li:hover {
    background: url('../images/menu-act.png') repeat-x;
}
#menu ul li.active a, #menu ul li:hover a {
    color: #ED1C24;
}
.border_menu {
    position: absolute;
    top: 122px;
    left: 0px;
    height: 24px;
    width: 100%;
    background: url('../images/border_menu.png') repeat-x;
    z-index: 10;
}
.logo {
    margin-top: 5px;
}
.logo img {    
    height: 65px;
}
.search {
    height: 30px;
    margin: 0 auto;
}
.search .txt_search {
    float: right;
    width: 250px;
    height: 20px;
    margin-top: 3px;
    border: 1px solid #fff;
    border-radius: 15px;
    line-height: 20px;
    padding-left: 10px;
    margin-right: 5px;
}
.search .btnSearch {
    margin-top: 3px;
    margin-right: 10px;
    padding: 2px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    cursor: pointer;
}
.search img {
    margin-left: 5px;
    margin-top: 2px;
}
.w_info_bar {
    height: 30px;
    margin-bottom: 10px;
    background: #333;
    color: #fff;
    line-height: 30px;
    font-weight: bold;
    font-size: 24px;
}
a.button {
    padding: 5px 10px 5px 10px;
    color: #fff;
    border-radius: 5px;
    background: red;
}
a.button:hover {
    background: #333;
}
.bar_left {
    width: 60%;
}
.bar_right {
    width: 35%;
}
#main {
    padding-bottom: 20px;
}
#main .product_home {
    
}

#main .product_home .item {
    width: 224px;
    height: 250px;
    padding: 0px 10px 20px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
}
#main .product_home .item:hover {
    background: #333;
}
#main .product_home .item img {
    width: 200px;
    border-radius: 5px;
}
#main .product_home .item h3 a{
    display: block;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
#main .product_home .item h3 a:hover {
    text-decoration: underline;
    color: #f00;
}
#main .product_home .item span {
    display: block;
    color: #999A9A;
    margin-top: 10px;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 5px;
}
#main .product_home .item label {
}
#main .product_home .item label label {
    color: red;
}
#main .news_list {
    width: 740px;
}
#main .home_news {
    padding: 10px;
    border-right: 1px solid #262830;
}
.box {
    /*border: 1px solid #333;*/   
    /*border-radius: 5px;*/
}
#main .news_list {
    
}
#main .news_list .row {
    height: 140px;
    margin-bottom: 20px;
}
#main .news_list .row .description {
    width: 500px; 
    min-height: 100px;
}
#main .news_list .row .des {
    font-size: 13px;
    color: #999A9A;
    display: block;
    height: 65px;
    overflow: hidden;
}
#main .news_list .row .description .title {
    font-size: 15px; 
    margin-bottom: 10px; 
    text-transform: uppercase; 
    font-weight: bold;
}
#main .news_list .row .news_img {
    width: 200px;
}
#main .news_list .row .news_img img {
    width: 200px;
    height: 120px;
    border-radius: 5px;
}
#main .widget {
    width: 252px;
    padding: 10px;
    margin-top: 25px;
    min-height: 400px;
}
h2 {
    text-transform: uppercase;
    font-family: Arial;
    font-weight: normal;
    margin-bottom: 10px;
}
.dot {
    margin-left: 10px;
}
.line {
    height: 2px;
    width: 100%;
    background: url('../images/line.png') center center no-repeat;
}