* {margin: 0; padding: 0;}
body {
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    min-width: 1024px;
    height: 100%;
    background: url('images/bg.jpg') repeat;
}
a {text-decoration: none; color: red;}
img {border: none;}
#container {
    width: 100%;
}
#w_footer {
    background: #131313;
    border-top: 5px solid #242424;
}
#footer {
    position: relative;
    min-height: 150px;
}
#copy_right {
    padding: 10px 20px;
    font-size: 12px;
    background:#000;
    text-align: center;
}
.sizePage {
    width: 1024px;
    margin: 0 auto;
}
#w_top {
    background: #101010;;
}
#w_slideshow {
    border-bottom: 5px solid #333;
    position: relative;
    margin-top: -17px;
    min-height: 300px;
    z-index: 9;
    /*background: url('images/image1.jpg') no-repeat;*/
}
#w_bar {
    background: url('images/bg3.jpg') repeat-x;    
    margin-bottom: 10px;
    border-bottom: 2px solid #222;    
    padding-bottom: 10px;
}
#bar {
     min-height: 20px;
}
#main {
    min-height: 300px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear {
    clear: both;
}
#header {
    height: 92px;
    z-index: 10;
}
ul li {
    list-style-type: none;
}
#w_header {
    position: relative;
    background: url('images/bg_menu.png') top left repeat-x;
    /*border-top: 1px solid #333;*/
    z-index: 10;
}
#menu ul {
    
}
#menu ul li {
    float: left;
    list-style: none;
    padding: 25px 15px 28px 15px;
    background: url('images/menu-divider.png') no-repeat top left transparent;
}
#menu ul li:last-child {
    background-image: url(images/menu-divider.png), url(images/menu-divider.png);
    background-position: top right, top left;
    background-repeat: no-repeat;
}
#menu ul li a {
    color: #CCC;
    /*text-shadow: 1px 1px 0 rgba(104, 89, 89, 0.91);*/
    font-size: 17px;
    font-weight: bold;
    font-family: 'Open Sans','Cuprum', sans-serif;
    text-transform: uppercase;
}
#menu ul li.current-menu-item,#menu ul li:hover {
    background-image: url('images/menu-act.png'), url(images/menu-divider.png);
    background-position: top left,top left;
    background-repeat: repeat-x,no-repeat;
}

#menu ul li.current-menu-item a, #menu ul li:hover a {
    color: #EC1B23;
}
.border_menu {
    position: absolute;
    top: 122px;
    left: 0px;
    height: 24px;
    width: 100%;
    background: url('images/border_menu.png') repeat-x;
    z-index: 10;
}
.logo {
    margin-top: 5px;
}
.logo img {    
    height: 65px;
}
.search {
    height: 30px;
    margin: 0 auto;
    color: #CCC;
}
.search .txt_search {
    float: right;
    width: 250px;
    height: 22px;
    margin-top: 3px;
    color: #ccc;
    border: 1px solid #515151;
    background: #515151;
    border-radius: 15px;
    line-height: 20px;
    padding-left: 10px;
    margin-right: 5px;
}
.search .txt_search:focus {
    color: #000;
    background: #fff;
    border: 1px solid #fff;
}
.search .btnSearch {
    margin-top: 3px;
    margin-right: 10px;
    padding: 2px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    cursor: pointer;
}
.search img {
    margin-left: 5px;
    margin-top: 2px;
}
.w_info_bar {
    height: 30px;
    margin-bottom: 10px;
    background: #333;
    color: #fff;
    line-height: 30px;
    font-weight: bold;
    font-size: 24px;
}
a.button {
    padding: 5px 10px 5px 10px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    background: #ED1C23;
}
a.button:hover {
    background: #333;
}
.bar_left {
    width: 60%;
}
.bar_right {
    width: 35%;
}
#main {
    padding-bottom: 20px;
}
#main .product_home {
    
}

#main .product_home .item {
    width: 224px;
    height: 250px;
    padding: 0px 10px 20px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    background: #222;
}
#main .product_home .item:hover {
    background: #343434;
}

#main .product_home .item img {
    width: 200px;
    border-radius: 5px;
}
#main .product_home .item h3 a{
    display: block;
    color: #ccc;
    /*text-transform: uppercase;*/
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
}
#main .product_home .item h3 a:hover {
    color: #f00;
}
#main .product_home .item span {
    display: block;
    color: #999A9A;
    margin-top: 10px;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 5px;
    height: 32px;
}
#main .product_home .item label {
    font-weight: 700;
    color: #ED1C23;
}
#main .product_home .item label label {
    color: red;
}
#main .news_list {
    width: 740px;
}
#main .home_news {
    /*border-right: 1px solid #262830;*/
}
.box {
    /*border: 1px solid #333;*/   
    /*border-radius: 5px;*/
}
#main .news_list {
    
}
#main .news_list .row {
    height: 140px;
    margin-bottom: 20px;
}
#main .news_list .row .description {
    width: 500px; 
    min-height: 100px;
}
#main .news_list .row .des {
    font-size: 13px;
    line-height: 18px;
    color: #999A9A;
    display: block;
    height: 70px;
    overflow: hidden;
    font-family: Arial;
}
#main .news_list .row .description .title {
    font-size: 18px; 
    margin-bottom: 10px; 
    /*text-transform: uppercase;*/ 
    /*font-weight: bold;*/
}
#main .news_list .row .description .title a {
    color: #CCC;
}
#main .news_list .row .description .title a:hover {
    color: #f00;
}
#main .news_list .row .news_img {
    width: 200px;
}
#main .news_list .row .news_img img {
    width: 200px;
    height: 120px;
    border-radius: 5px;
    border: 5px solid #333;
}
#main .news_list .row .news_img img:hover {
    border: 5px solid #999A9A;
}
#main .widget_box {
    width: 252px;
    padding: 0 10px 10px 10px;
    min-height: 100px;
    /*border-left: 1px solid #333;*/
    background: url('images/menu-divider.png') top left repeat-y;
}
#main h2 {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(104, 89, 89, 0.91);
    text-transform: uppercase;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
    background-repeat: repeat-x,no-repeat;
    background-position: bottom left,0px 5px;
    background-size: 1px 2px,13px 13px;
    background-image: url('images/line_title.png'),url('images/dot.png');
}
.dot {
    margin-right: 10px;
    height: 13px;
}
.line {
    height: 2px;
    width: 100%;
    background: url('images/line.png') center center no-repeat;
}

ul.livechat {

}
ul.livechat li {
    margin-bottom: 10px;
    list-style: none;
}
ul.livechat span {
    float: right;
}
ul.livechat label {
    float: left;
    margin-top: 3px;
    width: 75px;   
    text-align: left;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
}
.up {
    background: url('images/up.png') center center no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -100px;
    right: 0px;
    cursor: pointer;
}
.content {
    margin-top: 50px;
}
.content_box {
    width: 740px;
}
.post {
    color: #ccc;    
    width: 720px;
    line-height: 20px;
    font-family: Arial;
}
.post_title {
    width: 720px;
    color: #fff;
    display: block;
    text-shadow: 1px 1px 0 rgba(104, 89, 89, 0.91);
    /*text-transform: uppercase;*/
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background: url('images/line_title.png') bottom left repeat-x;
}
.fb-comments {
    margin-top: 20px;
    padding-top: 10px;
    width: 720px;
    background: url('images/line_title.png') top left repeat-x;
}
.widget {
    margin-bottom: 20px;
}
.widget .widget-title {
    padding-left: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    background-image: url('images/dot.png');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    background-size: 13px 13px;
}
.widget ul li {
    margin-bottom: 10px;
}
.widget ul li a {
    color: #fff;
}
.widget ul li a:hover {
    color: #f00;
}
.entry-content {
    padding-top: 20px;
}
.entry-content input[type="text"] {
    height: 25px;
    width: 200px;
}
.widget_footer {
    width: 150px;
    margin-right: 10px;
    float: left;
}
#footer .footer_info {
    width: 300px; 
    height: 100%;
    color: #CCC;    
}
#footer .footer_widget {
    margin-top: 20px;
    padding-bottom: 10px;
    width: 700px;
    color: #ccc;
}
#footer .footer_widget .widget-footer-title {
    color: #fff;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
}
#footer .footer_widget a {
    color: #ccc;
    font-size: 12px;
}
#footer .footer_widget a:hover {
    color: #f00;
}

#footer .footer_info h4 {
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
}
#footer .footer_info ul {
    list-style-type: circle;
    margin-top: 10px;
}
#footer .footer_info ul li {
    list-style-type: disc;
    margin-left: 15px;
    padding-bottom: 8px;
}
#footer .footer_info ul li a {
    color: #E61C24;
}
#footer .footer_info ul li a:hover {
    color: #f00;
    text-decoration: underline;
}
#footer .footer_widget .widget_categories,#footer .footer_widget  .widget_pages {
    width: 100px;
}
#footer .footer_widget ul li {
    list-style-type: disc;
    margin-left: 15px;
    padding-bottom: 5px;
}
#wp-calendar #today {
    color: #f00;
}
.widget_recent_entries {
    width: 300px;
}
.top_info {
    margin-top: 10px;
    font-weight: 700;
}
.top_info label {
    color: #E61C24;
}

.contact_form {
    margin-top: 50px; 
    width: 350px;
    min-height: 400px;
}
.contact_form .note {
    margin-bottom: 20px;
    display: block;
    color: #999A9A;
}
.contact_map {
    width: 640px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact_map #map_canvas {
    height: 280px;
}
/* CONTACT FORM 7 */

div.wpcf7 input[type="text"]:focus, div.wpcf7 textarea:focus {
    background: #333;
}
div.wpcf7 input[type="text"],div.wpcf7 textarea {
    height: 30px;
    margin-top: 5px;
    padding-left: 10px;
    background: #222;
    color: #ccc;
    border: 1px solid #333;
    border-radius: 5px;
}
div.wpcf7 textarea {
    height: 190px;
    padding-top: 10px;
}
div.wpcf7 input[type="submit"] {
    padding: 5px 10px 5px 10px;
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    background: #ED1C23;
    cursor: pointer;
}
div.wpcf7 p {
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}
span.wpcf7-not-valid-tip {
    background: none !important;
    padding-left: 15px;
    border: 1px solid #FF0000;
    border-radius: 5px;
    font-size: 10pt;
    height: 30px;
    line-height: 30px;
    left: 0px !important;
    position: absolute;
    top: -10px !important;
    width: 262px !important;
    z-index: 100;
}
.contact_info {
    margin-top: 20px;
    color: #CCC;
}

/* NAVI PAGE */
.wp-pagenavi a {
    color: #fff;
}
.wp-pagenavi a:hover,.wp-pagenavi span:hover, .wp-pagenavi span.current{
    color: #fff;
    background: #f00;
    border: 1px solid #f00 !important;
}
.fan_box .connect_action .name {
    color: #fff !important;
}